---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    
    {% for tag in page.tags %}
     <a class="tag" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    
    <br><br>
    
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}

    <br><br>

    <p><b><i>For enquiries about my consulting, development, training and writing <a href="{{ site.baseurl }}/services">services</a>, contact me directly <a href="https://blog.markjgsmith.com/contacts">via email</a></i>.</b></p>
  </article>
</div>
